.prev-section {
  position: absolute;
  left: 5rem;
}

.prev-section .back-link {
  display: flex;
  align-items: space-around;
}

.pass-details {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  background: #fff;
  border-radius: 14px;
  color: #222;
}

.media-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.pass-image {
  display: block;
  width: 90%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 1rem;
  align-items: center;
}

.media-overlay {
  background-color: var(--primary-color);
  border-radius: 30px;
  position: absolute;
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
  top: 1rem;
  left: 4rem;
  width: fit-content;
  pointer-events: none;
}

.desc {
  margin-top: 0.2rem;
}

.icon {
  background-color: var(--secondary-color);
  padding: 0.2rem;
  border-radius: 14px;
  margin-top: 1rem;
  vertical-align: middle;
  position: absolute;
}

h1,
h2 {
  color: #1a1a1a;
  margin: 0.2rem;
}

.booking {
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 14px;
  background: #f6f8fc;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.183);
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

input {
  align-self: center;
  width: 65%;
  padding: 0.5rem;
  border: 1px solid #d6d6d6;
  border-radius: 14px;
}

input:focus {
  outline: 3px solid #007acc;
}

.btn-book {
  background: #007acc;
  color: #fff;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-book:hover,
.btn-book:focus {
  background: #005fa3;
}

.message {
  margin-top: 0.75rem;
  font-weight: 600;
}

.info-grid ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
}

.info-grid ul .info-card:last-child {
  grid-column: span 2;
}

.info-card {
  background: #f6f8fc;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.183);
  margin-bottom: 1rem;
  gap: 0.4rem;
  padding: 1rem;
  border-radius: 14px;
  text-align: center;
}

@media (max-width: 880px) {
  .info-grid ul {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .info-grid ul .info-card:last-child {
    grid-column: auto;
  }
}

@media (max-width: 389px) {
  .icon {
    display: none;
  }
}
