.wrapper {
  margin: 4rem 3rem 7rem;
}

.list {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.date-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.date-button {
  width: 4rem;
  border: none;
  background: none;
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem 0;
  cursor: pointer;
  transition: all 0.15s ease;
  border-radius: var(--border-radius);
}

.date-number {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.date-button:hover {
  background: var(--hover-light);
}

.date-button[aria-selected='true'] {
  background: var(--text-color);
  color: var(--background-color);
}

.arrow {
  margin: 0.5rem;
  background: none;
  border: none;
}

.arrow:hover {
  color: var(--hover-dark);
}

.arrow:not(:disabled) {
  cursor: pointer;
}

.event-in-list img {
  display: block;
  width: 100%;
  height: 11rem;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.event-in-list:hover img {
  transform: scale(1.06);
}

.event-in-list {
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  padding-bottom: 1em;
  cursor: pointer;
}

.text-wrapper {
  text-align: left;
  padding: 0.5rem 1.5rem;
  align-items: start;
}

.text-wrapper p {
  margin: 0.5rem 0;
}

.event-title {
  font-weight: 700;
  font-size: 1.15rem;
}

.small-text {
  font-size: 0.93rem;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.categories {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.spots {
  width: fit-content;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.2rem 0.6rem;
  border-radius: 30px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.available {
  background: var(--primary-color);
}

.full {
  background: var(--error);
}

.no-events {
  text-align: center;
  width: 100%;
  font-size: 1.1rem;
}

.category {
  background: var(--secondary-color);
  width: fit-content;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.2rem 0.6rem;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
