:root {
  --primary-color: #edf96e;
  --secondary-color: #dfebff;
  --text-color: #2d2d2d;
  --background-color: #f6f6f6;
  --hover-dark: #747474;
  --hover-light: #e0e0e0;
  --error: rgb(255, 128, 128);
  --border-radius: 10px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.primary,
.secondary {
  border-radius: var(--border-radius);
  padding: 4rem;
}

.primary {
  background: var(--primary-color);
}

.secondary {
  background: var(--secondary-color);
}

a {
  font-weight: 500;
  text-decoration: inherit;
  transition: all 0.1s ease;
  color: var(--text-color);
}

nav a:hover {
  color: var(--hover-dark);
}

a button:hover {
  opacity: 1;
}

body {
  margin: 0;
  height: 100%;
}

main {
  flex: 1;
  margin: 2rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 0;
}

nav .button {
  padding: 1em 1.1rem;
  margin: 0 0 0 1rem;
}

.button {
  font-size: 0.8rem;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  margin: 1rem;
  border: none;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.button.light {
  background: var(--background-color);
  color: var(--text-color);
}

.button.dark {
  background: var(--text-color);
  color: var(--background-color);
}

.button.light:hover {
  background: var(--hover-light);
}

.button.dark:hover {
  background: var(--hover-dark);
}

nav {
  padding: 1rem 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

nav div,
.logo {
  align-items: center;
  display: flex;
  gap: 0.1rem;
}

nav img {
  width: 60px;
}

.brand-name {
  display: none;
}

.staff {
  text-align: left;
}

footer {
  background: var(--text-color);
  color: var(--background-color);
  padding: 2rem 2rem 4rem;
  margin-top: auto;
}

footer h2 {
  color: var(--background-color);
}

footer a {
  margin-top: 1rem;
  display: block;
  color: var(--background-color);
}

footer a:hover {
  color: var(--hover-light);
}

footer hr {
  margin: 3rem 0;
}



@media (min-width: 768px) {
  nav div,
  .logo {
    gap: 1rem;
  }

  nav {
    padding: 2rem 2rem 0;
  }

  footer {
    padding: 4rem 15rem 6rem;
  }

  nav .button {
    padding: 1rem 1.5rem;
    margin: 1rem;
  }

  .brand-name {
    display: inline;
  }
}